<%= form_for @type.note do |f| %>
 
 <% if f.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@f.errors.count, "error") %> prohibited
        this note from being saved:
      </h2>
      <ul>
        <% f.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
  

  <p>
    <%= f.label :note_title %><br>
    <%= f.text_field :note_title %>
  </p>
 
  <p>
    <%= f.label :note_text %><br>
    <%= f.text_area :note_text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>