<h1>Edit To Do Item</h1>
 
<%= form_for [:type, @note] do |f| %>
	<!--= Type.find(params[:id]).type_id %-->
	<p>
	    <%= f.label :title %><br>
	    <%= f.text_field :title %>
	  </p>
	 
  	<p>
	    <%= f.label :text %><br>
	    <%= f.text_area :text %>
  	</p>

  	<p>
		<%= f.submit %> 
  	</p>

<% end %>
 
<%= link_to 'Back', type_notes_path() %>